.image.is-128x128 {
    height: auto;
    width: auto;
    max-width: 8pc;
    max-height: 8pc
}

.kadlu-sticky {
    position: sticky;
    top: 1.4rem
}

.kadlu-row-reverse {
    flex-direction: row-reverse
}

.kadlu-has-background {
    position: relative;
    overflow: hidden
}

.kadlu-hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%
}

.kadlu-hero-background>img {
    min-width: 100%;
    object-fit: cover;
    opacity: .5
}

.kadlu-page-top-button {
    position: fixed;
    bottom: 20px;
    right: 10px
}

.kadlu-article>div,
.kadlu-article p {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.kadlu-article iframe {
    width: 100%
}

.red {
    color: #e60033
}

.blue {
    color: #0095d9
}

.green {
    color: #3eb370
}

.bold {
    font-weight: 700
}

.red-under {
    border-bottom: 2px solidred
}

.keyboard-key {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(centertop, #eee, #f9f9f9, #eee);
    border: 1px solid #777;
    border-radius: 2px;
    box-shadow: 1px 2px 2px #ddd;
    font-family: inherit;
    font-size: .85em;
    padding: 1px 3px
}

.marker {
    background-color: #ff9
}

.marker-red {
    background-color: #ffd0d1
}

.marker-blue {
    background-color: #a5d7f9
}

.marker-under {
    background: linear-gradient(transparent 60%, #ff6 60%)
}

.marker-under-red {
    background: linear-gradient(transparent 60%, #ffb6b9 60%)
}

.marker-under-blue {
    background: linear-gradient(transparent 60%, #a8dafb 60%)
}

.strike {
    text-decoration: line-through
}

.kadlu-share-facebook {
    background-color: #3b5998;
    color: #fff
}

.kadlu-share-twitter {
    background-color: #55acee;
    color: #fff
}

.kadlu-share-hatena {
    background-color: #008fde;
    color: #fff
}

.kadlu-share-pocket {
    background-color: #ee4056;
    color: #fff
}

.kadlu-share-instagram {
    background-color: #cf2e92;
    color: #fff
}

.kadlu-share-github {
    background-color: #24292e;
    color: #fff
}

.kadlu-share-youtube {
    background-color: #c4302b;
    color: #fff
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: 700
}

.kadlu-modal-button,
.kadlu-modal-icon,
.kadlu-modal-link {
    color: hsla(0, 0%, 4%, .2);
    font-size: 1.3rem;
    padding: 0;
    margin-right: 5px;
    border: 0;
    background-color: hsla(0, 0%, 4%, 0)
}

.kadlu-modal-button,
.kadlu-modal-link {
    cursor: pointer
}

.kadlu-modal-button:focus,
.kadlu-modal-button:hover {
    outline: 0
}

.kadlu-modal-button:active {
    color: hsla(0, 0%, 4%, .4)
}

.kadlu-is-vertical-center {
    display: flex;
    align-items: center
}

.entry-cover {
    width:100%;
}