/* <!-- kadluのcssですコンパイルして使ってください --> */
$bgcolor1: #FEFDFD;
$bgcolor2: #FEFDFD;
$bgcolor3: #F0B8BF;

$color1: #FCF0F1;
$color2: #E4ABB0;
$color3: #F0B8BF;
$color4: #701722;
$color5: #4a4a4a;

body {
  color: $color5;
}

.kadlu-bgcolor1 {
  background-color: $bgcolor1;
}

.kadlu-bgcolor2 {
  background-color: $bgcolor2;
}

.kadlu-bgcolor3 {
  background-color: $bgcolor3;
}

.kadlu-color4 {
  color: $color4;
}

.kadlu-article h2,
.kadlu-title1 {
  background-color: $color1;
  color: $color4;
  padding: 10px;
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.kadlu-article h2:after,
.kadlu-title1:after {
  background: repeating-linear-gradient(-45deg, $color3, $color3 5px, $color1 0, $color1 10px);
  /* ストライプ */
  content: '';
  height: 5px;
  /* ストライプの高さ */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.kadlu-article h3,
.kadlu-title2 {
  border-bottom: solid 3px $color1;
  position: relative;
  font-size: 1.3rem;
  color: $color4;
}

.kadlu-article h3:after,
.kadlu-title2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px $color3;
  bottom: -3px;
  width: 30%;
}

.kadlu-article h4,
.kadlu-title3 {
  color: $color4;
  padding: 0.5em 0;
  border-top: solid 3px $color2;
  /*上線*/
  border-bottom: solid 3px $color2;
  /*下線*/
}

.kadlu-border-bottom {
  border-bottom: solid 3px $color2;
  /*下線*/
}

.kadlu-balloon-left {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  border: solid 3px $color2;
  box-sizing: border-box;
  border-radius: 5px;
}

.kadlu-balloon-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid $bgcolor1;
  z-index: 2;
}

.kadlu-balloon-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid $color2;
  z-index: 1;
}

.kadlu-balloon-left p {
  margin: 0;
  padding: 0;
}

.kadlu-balloon-right {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  background: $bgcolor1;
  border: solid 3px $color2;
  box-sizing: border-box;
  border-radius: 5px;
}

.kadlu-balloon-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid $bgcolor1;
  z-index: 2;
}

.kadlu-balloon-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid $color2;
  z-index: 1;
}

.kadlu-balloon-right p {
  margin: 0;
  padding: 0;
}

.menu-list a.is-active {
  background-color: $color1;
  color: $color5;
}

.box {
  background-color: $bgcolor1;
  color: $color5;
}

.message.is-kadlu {
  background-color: $color1;
}

.message.is-kadlu .message-body {
  border-color: $color3;
  color: $color5;
}

.message.is-kadlu .message-header {
  background-color: $color3;
  color: $bgcolor1;
}