{{ $logo := .Site.Params.logo }}
{{ template "_internal/google_analytics.html" . }}
<!-- Site & Page Meta Data -->
<!-- 投稿の場合のogp設定 -->
{{ if eq .Type "posts" }}
  {{ $description := .Description | default .Summary }}
  <!-- Page Author & Description -->
  <meta name="author" content="{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}" />
  <meta name="description" content="{{ $description | plainify }}">
  <!-- Twitter Card -->
  <!-- 画像がある場合は最大限に活かす -->
  {{ if isset .Params "cover" }}
    <meta name="twitter:card" content="summary_large_image" />
    {{ if .Site.Params.twitter }}<meta property="twitter:site" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:player" content="@{{ .Site.Params.twitter }}" />{{ end }}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ $description | plainify }}" />
    <meta property="og:image" content="{{ .Params.cover | absURL }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
  {{ else }}
    <meta property="twitter:card" content="summary" />
    {{ if .Site.Params.twitter }}<meta property="twitter:site" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:player" content="@{{ .Site.Params.twitter }}" />{{ end }}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ $description | plainify }}" />
    <meta property="og:image" content="{{ $logo | absURL }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
  {{ end }}
{{ else }}
  <!-- その他(トップ・カテゴリ) -->
  <!-- Site Author & Description -->
  <meta name="author" content="{{ .Site.Params.author }}" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <!-- Twitter Card -->
  <meta property="twitter:card" content="summary" />
  {{ if .Site.Params.twitter }}<meta property="twitter:site" content="@{{ .Site.Params.twitter }}" />
  <meta name="twitter:player" content="@{{ .Site.Params.twitter }}" />{{ end }}
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta property="og:image" content="{{ $logo | absURL }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
{{ end }}
<!-- Permalink & RSSlink -->
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" href="/index.xml" title="{{ .Site.Title }}" type="application/atom+xml">
<!-- Rending Prefs -->
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="format-detection" content="telephone=no,email=no,adress=no" />
<!-- SEO Prefs -->
<!-- markdownにnoIndex:trueを指定するとnoindexとなる  -->
{{ if .Params.Noindex }}<meta name="robots" content="noindex,nofollow" />{{ else }}<meta name="robots" content="index,follow" />{{ end }}
<meta name="referrer" content="origin-when-cross-origin" />
<!-- 各WEBマスターツールの登録情報が入る。設定は config.toml -->
{{ if .Site.Params.googlesiteverification }}<meta name="google-site-verification" content="{{ .Site.Params.googleSiteVerification }}" />{{ end }}
{{ if .Site.Params.msvalidate }}<meta name="msvalidate.01" content="{{ .Site.Params.msValidate }}" />{{ end }}
<!-- ファビコンは任意 タッチアイコンは必須 -->
{{ if .Site.Params.Favicon }}<link rel="icon" href="{{ .Site.Params.Favicon | absURL }}" />  {{ end }}
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" sizes="120x120" href="{{ $logo | absURL}}">
<!-- 構造化マークアップ -->
{{ if eq .Type "posts" }}
<!-- 投稿ページの場合 -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ .Site.Title }}",
    "description": "{{ .Summary | plainify | htmlUnescape }}",
    "datePublished": "{{ slicestr .Date 0 10 }}",{{$time := time .Params.updateDate }}
    "dateModified": "{{ slicestr $time 0 10 }}",
    "image": [ "{{ .Params.cover | absURL }}" ],
    "author": {
      "@type": "Person",
      "name": "{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}"
    },
     "publisher": {
      "@type": "Organization",
      "name": "{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ $logo | absURL}}"
      }
    }
  }
  </script>
  {{ else }}
  <!-- その他の場合 -->
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{ .Page.Site.BaseURL }}",
      "name": "{{ .Site.Title }}",
      "publisher": {
          "@type": "Organization",
          "name": "{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{ $logo | absURL}}"
          }
      }
      {{ if  .Site.Params.mainImage }}
      ,"image": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.mainImage}}",
      }
      {{ end }}
  }
  </script>
{{ end }}  
<!-- Styles -->
<!-- Bulma -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"  crossorigin="anonymous">
<!-- kadlu -->
<link rel="stylesheet" href="/css/stylesheet-kadlu-common.min.css">
<link rel="stylesheet" href="/css/stylesheet-kadlu-custom.min.css">
<!-- fontAwesome -->
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!-- 各種設定系 -->
<script defer  src="/js/kadlu-common.js"></script>
<!-- 自動広告 -->
{{ if and .Site.Params.adsensePublisher .Site.Params.adsenseAutoAds }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ .Site.Params.adsensePublisher }}",
        enable_page_level_ads: true
    });
</script>
{{ end }}
