<div id="sub-window" class="modal-card is-hidden" role="dialog">
    <div class="modal-card-head kadlu-bgcolor3">
        <p class="modal-card-title kadlu-modal-icon">
            <i class="far fa-window-restore"></i> &nbsp;
            <span id="sub-window-title"></span>
        </p>
        <button id="sub-window-up" class="kadlu-modal-button">
            <i class="fas fa-chevron-circle-up"></i>
        </button>&nbsp;
        <button id="sub-window-down" class="kadlu-modal-button">
            <i class="fas fa-chevron-circle-down"></i>
        </button>&nbsp;
        <button id="sub-window-close" class="delete" aria-label="close"></button>
    </div>
    <div id="sub-window-content" class="modal-card-body kadlu-article">
            <div class="swiper-container"></div>
    </div>
</div>