{{ $href := .Get "href"}}
{{ $target := .Get "target"  | default "_self" }}
<div class="message is-kadlu" role="link">
    <div class="columns">
        {{ with .Site.GetPage $href }}
        {{ if .Params.cover }}
        <figure class="column is-2">
            <img class="image is-128x128" src="{{ .Params.cover }}" alt="アイキャッチ"/>
        </figure>
        {{ end }}
        <div class="column is-10">
            <a class="content kadlu-color4" href="{{ $href }}" target="{{ $target }}">
                <p>
                    <span class="bold">{{ .Title }}</span>
                </p>
                <p>
                    {{ if .Params.Description }}
                    {{ .Params.Description }}
                    {{ end }}
                </p>
            </a>
        </div>
    </div>
    {{ end }}
</div>