{{ $href := .Get "href"}}
{{ $target := .Get "target"  | default "_self" }}
<div class="box" role="link">
    <div class="media">
        {{ with .Site.GetPage $href }}
        {{ if .Params.cover }}
        <figure class="media-left">
            <img class="image is-128x128 lazy" data-original="{{ .Params.cover }}">
            </img>
        </figure>
        {{ end }}
        <div class="media-content">
            <a class="content kadlu-color4" href="{{ $href }}" target="{{ $target }}">
                <p>
                    <span class="bold">{{ .Title }}</span>
                </p>
            </a>
        </div>
        <button class="sub-window-open-link kadlu-modal-button">
            <i class="far fa-window-restore"></i>
        </button>

    </div>
    <p>
        {{ if .Params.Description }}
        {{ .Params.Description }}
        {{ end }}
    </p>
    {{ end }}
</div>