<!-- Slider main container -->
<div class="swiper-container kadlu-is-vertical-center" role="directory">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{ .Inner }}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev kadlu-modal-button" role="button"><i class="fas fa-chevron-circle-left"></i></div>
    <div class="swiper-button-next kadlu-modal-button" role="button"><i class="fas fa-chevron-circle-right"></i></div>
</div>