{{ define "main" }}
<h1 class="kadlu-title1">ブログ検索</h1>
<p>キーワードにメタ文字を含む場合、エスケープが必要です。</p>

<script src="/index.js"></script>

<div>
    <input id="searchBox" class="input" onkeyup="search(this.value)" size="15" autocomplete="off" autofocus
        placeholder="検索ワードを入力" />
    <span id="inputWord"></span> <span id="resultCount"></span>
    <div id="result" class="kadlu-article"></div>
</div>

<script>
    /** オンロード URLパラメータから検索=>パラメータ削除 */
    window.onload = function () {
        document.getElementById('searchBox').value = getParam('q');
        search(getParam('q'));
        var url = document.location.href;
        var new_url = url.replace(/\?.*$/, "");
        history.pushState(null, null, new_url);
    };

    /** パラメータ取得 */
    function getParam(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function search(query) {
        var result = searchData(query);
        var html = createHtml(result);
        showResult(html);
        showResultCount(result.length, data.length);
    }

    function searchData(query) {
        var result = [];

        query = query.trim();
        if (query.length < 1) {
            return result;
        }
        var re = new RegExp(query, 'i');
        for (var i = 0; i < data.length; ++i) {
            var pos = data[i].body.search(re);
            if (pos != -1) {
                result.push([i, pos, pos + query.length]);
            }
        }
        return result;
    }

    function createHtml(result) {
        var htmls = [];
        for (var i = 0; i < result.length; ++i) {
            var dataIndex = result[i][0];
            var startPos = result[i][1];
            var endPos = result[i][2];
            var url = data[dataIndex].url;
            var title = data[dataIndex].title;
            var body = data[dataIndex].body;
            htmls.push(createEntry(url, title, body, startPos, endPos));
        }
        return htmls.join('');
    }

    function createEntry(url, title, body, startPos, endPos) {
        return '<div class="box">' +
            '<a class="title is-5 kadlu-color4" href="' + url + '">' + title + '</a>' +
            '<div class="media-content">' + excerpt(body, startPos, endPos) + '</div>' +
            '</div>';
    }

    function excerpt(body, startPos, endPos) {
        return [
            body.substring(startPos - 30, startPos),
            '<b>', body.substring(startPos, endPos), '</b>',
            body.substring(endPos, endPos + 200)
        ].join('');
    }

    function showResult(html) {
        var el = document.getElementById('result');
        el.innerHTML = html;
    }

    function showResultCount(count, total) {
        var el = document.getElementById('resultCount');
        el.innerHTML = '<b>' + count + '</b> 件見つかりました（' + total + '件中）';
    }
</script>

<noscript>
    <p class="notice">注意: この検索機能は JavaScript を使用しています。</p>
</noscript>
{{ end }}